.card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .05);
  box-sizing: border-box;
  display: flex;
  padding: 12px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
