.card {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .05);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-width: 360px;
  padding: 20px;

  &:first-child {
    margin-left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-family: Roboto Slab, serif;
  }

  &__title {
    font-family: Arvo, serif;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
