.content {
  box-sizing: border-box;
  display: flex;
  margin-top: 54px;
  padding: 20px;

  ul {
    li {
      border: 1px solid rgba(9, 9, 9, .05);
      list-style: none;
      margin: 8px 0;
      padding: 12px;
    }
  }
}
