.content {
  align-items: flex-start;
  background-color: #f9f9f9;
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 54px);
  margin-top: 54px;
  padding: 20px;
  position: absolute;
  width: 100%;

  ul {
    li {
      background-color: #ffffff;
      border: 1px solid rgba(9, 9, 9, .05);
      border-radius: 4px;
      list-style: none;
      margin: 8px 0;
      padding: 12px;
      transition: all .15s ease;

      &:hover {
        background-color: #1a7ee9;

        a {
          color: #ffffff;
        }
      }
    }
  }
}
